<td class="py-4 pl-6 pr-3 text-sm font-medium text-gray-900 whitespace-normal">
  <p><%= link_to("@#{url.first_influencer_username}", "https://twitter.com/#{url.first_influencer_username}", target: '_blank', class: 'text-violet-600 hover:text-violet-900') %></p>
  <%= local_time(url.published_at || url.created_at) %>
</td>
<td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap grow">
  <%= render partial: 'collections/editorial_form', locals: {collection: collection, url: url } %>
</td>
<td class="px-3 py-4 text-sm text-gray-500 whitespace-normal"><%= url.score.round %></td>
<td class="relative py-4 pl-3 pr-6 text-sm font-medium text-right whitespace-normal">
  <%= link_to 'View', url.clean_url, target: '_blank', class: 'text-violet-600 hover:text-violet-900' %>
</td>
