<div class="px-6 lg:px-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-xl font-semibold text-gray-900"><%= @collection.name %></h1>
      <p class="mt-2 text-sm text-gray-700">A list of tweets from this collection.</p>
    </div>
  </div>
  <%= render partial: 'collections/tab_nav', locals: {collection: @collection, active: :show } %>  
  <div class="mt-8 flow-root">
    <div class="-my-2 -mx-6 overflow-x-auto lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <h2 class="font-semibold text-lg text-gray-800 mt-4 mb-2">Tweets</h2>
        <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">  
          <table class="min-w-full divide-y divide-gray-300">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="py-3.5 pl-6 pr-3 text-left text-sm font-semibold text-gray-900">Author</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Tweet</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Tweeted at</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Score</th>
                <th scope="col" class="relative py-3.5 pl-3 pr-6">
                  <span class="sr-only">View on Twitter</span>
                </th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">
              <% @tweets.each do |tweet| %>
                <tr>
                  <td class="whitespace-nowrap py-4 pl-6 pr-3 text-sm font-medium text-gray-900"><%= link_to("@#{tweet.username}", "https://twitter.com/#{tweet.username}", target: '_blank', class: 'text-purple-600 hover:text-purple-900') %></td>
                  <td class="whitespace-wrap px-3 py-4 text-sm text-gray-500"><%= display_entitites(tweet.text) %></td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= local_time(tweet.tweeted_at) %></td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= tweet.score.round %></td>
                  <td class="relative whitespace-nowrap py-4 pl-3 pr-6 text-right text-sm font-medium">
                    <%= link_to 'View on Twitter', "https://twitter.com/#{tweet.username}/status/#{tweet.tweet_id}", target: '_blank', class: 'text-purple-600 hover:text-purple-900' %>
                  </td>
                </tr>
              <% end %>

              <!-- More people... -->
            </tbody>
          </table>
        </div>
        <h2 class="font-semibold text-lg text-gray-800 mt-8 mb-2">Links</h2>
        <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">  
          <table class="min-w-full divide-y divide-gray-300">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="py-3.5 pl-6 pr-3 text-left text-sm font-semibold text-gray-900">Author</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Link</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Host</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Tweeted at</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Score</th>
                <th scope="col" class="relative py-3.5 pl-3 pr-6">
                  <span class="sr-only">View on Twitter</span>
                </th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">
              <% @urls.each do |url| %>
                <tr>
                  <td class="whitespace-nowrap py-4 pl-6 pr-3 text-sm font-medium text-gray-900"><%= link_to("@#{url.tweet.username}", "https://twitter.com/#{url.tweet.username}", target: '_blank', class: 'text-purple-600 hover:text-purple-900') %></td>
                  <td class="whitespace-wrap px-3 py-4 text-sm text-gray-500"><%= url.title %></td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= url.hostname %></td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= local_time(url.tweet.tweeted_at) %></td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= url.tweet.score.round %></td>
                  <td class="relative whitespace-nowrap py-4 pl-3 pr-6 text-right text-sm font-medium">
                    <%= link_to 'View', url.unwound_url, target: '_blank', class: 'text-purple-600 hover:text-purple-900' %>
                  </td>
                </tr>
              <% end %>

              <!-- More people... -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
