<tr>
  <td class="whitespace-wrap py-4 pl-4 pr-3 text-sm sm:pl-6">
    <div class="flex items-center">
      <div class="font-medium text-gray-900"><%= link_to("@#{url.tweet.username}", "https://twitter.com/#{url.tweet.username}", target: '_blank', class: 'underline text-purple-500') %></div>
    </div>
  </td>
  <td class="whitespace-wrap px-3 py-4 text-sm text-gray-500">
    <div class="text-gray-900"><%= link_to(url.title, url.unwound_url, target: '_blank', class: 'text-purple-500 underline') %></div>
    <div class="text-gray-600 text-xs font-mono"><%= url.hostname %></div>
    <div class="text-gray-600 text-xs font-mono"><%= url.tweet.id %></div>
  </td>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
    <%= url.tweet.score.round %>
  </td>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
    <%= url.tweet.reply_count %>
  </td>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
    <%= url.tweet.retweet_count %>
  </td>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
    <%= url.tweet.like_count %>
  </td>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
    <%= url.tweet.quote_count %>
  </td>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
    <%= url.tweet.impression_count %>
  </td>
  <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
    <div class="flex justify-between space-x-2">
      <%= form_with model: [topic, url] do |f| %>
        <%= f.hidden_field :archived, value: true %>
        <button type="submit" class="inline-flex items-center rounded-md border border-transparent bg-purple-100 px-4 py-2 text-sm font-medium text-purple-700 hover:bg-purple-200 focus:outline-none focus:ring-2 focus:ring-purple-500 focus:ring-offset-2">Archive</button>
      <% end %>
      <%= form_with model: [topic, url] do |f| %>
        <%= f.hidden_field :saved, value: true %>
        <button type="submit" class="inline-flex items-center rounded-md border border-transparent bg-purple-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-500 focus:ring-offset-2">Save</button>
      <% end %>
    </div>
  </td>
</tr>
