<tr>
  <td class="whitespace-wrap py-4 pl-4 pr-3 text-sm sm:pl-6">
    <div class="flex items-center">
      <div class="font-medium text-gray-900"><%= link_to("@#{url.tweet.username}", "https://twitter.com/#{url.tweet.username}", class: 'underline text-purple-500') %></div>
    </div>
  </td>
  <td class="whitespace-wrap px-3 py-4 text-sm text-gray-500">
    <div class="text-gray-900"><%= link_to(url.title, url.unwound_url, class: 'text-purple-500 underline') %></div>
    <div class="text-gray-600 text-xs font-mono"><%= url.unwound_url.truncate(50) %></div>
  </td>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
    <%= url.tweet.score %>
  </td>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
    <%= url.tweet.reply_count %>
  </td>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
    <%= url.tweet.retweet_count %>
  </td>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
    <%= url.tweet.like_count %>
  </td>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
    <%= url.tweet.quote_count %>
  </td>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
    <%= url.tweet.impression_count %>
  </td>
  <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
    <%= form_with model: [topic, url] do |f| %>
      <button type="submit" class="inline-flex items-center rounded-md border border-transparent bg-purple-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-500 focus:ring-offset-2">Save</button>    
    <% end %>
  </td>
</tr>
