<div class="col-span-1" id="<%= dom_id(url) %>">
  <div class="grid grid-cols-3 <%= url_bg_color(url) %> rounded-md shadow-md md:grid-cols-8 xl:grid-cols-10">
    <div class="order-1 col-span-2 p-2 text-sm md:col-span-2">
      <div class="flex flex-col space-y-2">
        <% if url.influencers.size > 1 %>
          <div>
            First shared by
          </div>
        <% end %>
        <div class="flex flex-col items-center lg:flex-row">
          <div class="flex-shrink-0 w-10 h-10">
            <%= image_tag first_influencer&.profile_image_url || '', class: 'h-10 w-10 rounded-full' %>
          </div>
          <div class="lg:ml-4">
            <div class="font-medium text-gray-900"><%= link_to("@#{first_influencer&.username}", "https://twitter.com/#{first_influencer&.username}", target: '_blank', class: 'underline text-violet-500') %></div>
            <div class="text-gray-500"><%= kill_mastodon(first_influencer&.name) %></div>
          </div>
        </div>
        <% if url.influencers.size > 1 %>
          <div>
            and <%= url.influencers.size - 1 %> others.
          </div>
        <% else %>
          <div>
            <%= form_tag topic_influencer_ignore_rules_path(url.topic) do %>
              <%= hidden_field_tag :remove_id, dom_id(url) %>
              <%= hidden_field_tag :author_id, first_influencer&.platform_id %>
              <button type="submit" class="inline-flex items-center justify-center w-full px-2 py-1 text-sm font-medium leading-4 text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-violet-500">Ignore @<%= first_influencer&.username %></button>
            <% end %>
          </div>
        <% end %>
        <% if url.first_influencer&.collected_tweets? %>
          <div>
            <span class="inline-flex items-center rounded bg-blue-100 px-2 py-0.5 text-xs font-medium text-blue-800">
              <%= url.first_influencer&.collected_count %> collected
            </span>
          </div>
        <% end %>
        <% if url.first_influencer&.saved_tweets? %>
          <div>
            <span class="inline-flex items-center rounded bg-yellow-100 px-2 py-0.5 text-xs font-medium text-yellow-800">
              <%= url.first_influencer&.saved_count %> saved
            </span>
          </div>
        <% end %>
      </div>
    </div>
    <div class="order-3 col-span-5 p-2 text-sm text-gray-500 md:col-span-4 xl:col-span-5 md:order-2">
      <div class="flex flex-col justify-between h-full space-y-4">
        <div>
          <%= link_to(local_time(url.published_at || url.created_at), url.clean_url, target: '_blank', class: 'text-violet-500 underline text-xs') %>
        </div>
        <div class="flex-grow">
          <p><%= link_to(url.title, url.clean_url, target: '_blank', class: 'text-violet-500 underline text-lg') %></p>
          <span class="inline-flex items-center rounded bg-gray-100 px-2 py-0.5 text-xs font-medium text-gray-800"><%= url.hostname %></span>
          <% if current_user.beta? %>
            <div class="p-4 mt-2 font-mono text-sm text-left bg-gray-100">
              <% url.tweets.each do |t| %>
                id: <%= t.id %><br />
                url: <%= t.url %><br />
                score: <%= t.score %><br />
                impression_count: <%= t.impression_count %><br />
                retweet_count: <%= t.retweet_count %><br />
                like_count: <%= t.like_count %><br />
                reply_count: <%= t.reply_count %><br />
                quote_count: <%= t.quote_count %><br />
                influencer followers: <%= t.influencer&.followers_count || 'NaN (calculated)' %>
                <br>
                <br>
              <% end %>
            </div>
          <% end %>
        </div>
        <div>
          <%= form_with model: [topic, topic.hostname_ignore_rules.build] do |f| %>
            <%= f.hidden_field :url_id, value: url.id %>
            <button type="submit" class="inline-flex items-center justify-center w-full px-2 py-1 text-sm font-medium leading-4 text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-violet-500">Ignore <%= url.hostname %></button>
          <% end %>
        </div>
      </div>
    </div>
    <div class="order-last col-span-3 p-2 text-sm text-gray-500 xl:order-3 md:col-span-8 xl:col-span-1">
      <div class="flex items-center justify-between w-full text-gray-700 xl:items-start xl:flex-col">
        <div class="flex items-center space-x-1">
          <div class="text-gray-400">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
              <path d="M15.5 2A1.5 1.5 0 0014 3.5v13a1.5 1.5 0 001.5 1.5h1a1.5 1.5 0 001.5-1.5v-13A1.5 1.5 0 0016.5 2h-1zM9.5 6A1.5 1.5 0 008 7.5v9A1.5 1.5 0 009.5 18h1a1.5 1.5 0 001.5-1.5v-9A1.5 1.5 0 0010.5 6h-1zM3.5 10A1.5 1.5 0 002 11.5v5A1.5 1.5 0 003.5 18h1A1.5 1.5 0 006 16.5v-5A1.5 1.5 0 004.5 10h-1z" />
            </svg>
          </div>
          <div ><%= number_with_delimiter(url.score.round(2)) %></div>
        </div>
        <div class="flex items-center space-x-1">
          <div class="text-gray-400">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
              <path fill-rule="evenodd" d="M15.312 11.424a5.5 5.5 0 01-9.201 2.466l-.312-.311h2.433a.75.75 0 000-1.5H3.989a.75.75 0 00-.75.75v4.242a.75.75 0 001.5 0v-2.43l.31.31a7 7 0 0011.712-3.138.75.75 0 00-1.449-.39zm1.23-3.723a.75.75 0 00.219-.53V2.929a.75.75 0 00-1.5 0V5.36l-.31-.31A7 7 0 003.239 8.188a.75.75 0 101.448.389A5.5 5.5 0 0113.89 6.11l.311.31h-2.432a.75.75 0 000 1.5h4.243a.75.75 0 00.53-.219z" clip-rule="evenodd" />
            </svg>
          </div>
          <div >
            <%= number_with_delimiter(url.retweet_count) %>
          </div>
        </div>
        <div class="flex items-center space-x-1">
          <div class="text-gray-400">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
              <path d="M9.653 16.915l-.005-.003-.019-.01a20.759 20.759 0 01-1.162-.682 22.045 22.045 0 01-2.582-1.9C4.045 12.733 2 10.352 2 7.5a4.5 4.5 0 018-2.828A4.5 4.5 0 0118 7.5c0 2.852-2.044 5.233-3.885 6.82a22.049 22.049 0 01-3.744 2.582l-.019.01-.005.003h-.002a.739.739 0 01-.69.001l-.002-.001z" />
            </svg>
          </div>
          <div >
            <%= number_with_delimiter(url.like_count) %>
          </div>
        </div>
        <div class="flex items-center space-x-1">
          <div class="text-gray-400">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
              <path d="M10 12.5a2.5 2.5 0 100-5 2.5 2.5 0 000 5z" />
              <path fill-rule="evenodd" d="M.664 10.59a1.651 1.651 0 010-1.186A10.004 10.004 0 0110 3c4.257 0 7.893 2.66 9.336 6.41.147.381.146.804 0 1.186A10.004 10.004 0 0110 17c-4.257 0-7.893-2.66-9.336-6.41zM14 10a4 4 0 11-8 0 4 4 0 018 0z" clip-rule="evenodd" />
            </svg>
          </div>
          <div >
            <%= number_with_delimiter(url.impression_count) %>
          </div>
        </div>
      </div>
    </div>
    <div class="order-2 col-span-1 p-2 text-sm font-medium xl:order-4 md:col-span-2 md:order-3 xl:col-span-2">
      <div class="flex flex-col items-center justify-between h-full xl:h-auto xl:flex-row xl:justify-end xl:space-y-0 xl:space-x-2">
        <%= form_with url: topic_archived_url_path(topic, url), method: 'patch', class: 'w-full xl:w-auto', data: {'turbo-stream': true} do |f| %>
          <button type="submit" class="inline-flex items-center justify-center w-full px-4 py-2 text-sm font-medium border border-transparent rounded-md text-violet-700 bg-violet-100 xl:w-auto hover:bg-violet-200 focus:outline-none focus:ring-2 focus:ring-violet-500 focus:ring-offset-2">Archive</button>
        <% end %>
        <%= form_with url: topic_saved_url_path(topic, url), method: 'patch', class: 'w-full xl:w-auto', data: {'turbo-stream': true} do |f| %>
          <button type="submit" class="inline-flex items-center justify-center w-full px-4 py-2 text-sm font-medium text-white border border-transparent rounded-md shadow-sm bg-violet-600 xl:w-auto hover:bg-violet-700 focus:outline-none focus:ring-2 focus:ring-violet-500 focus:ring-offset-2">Save</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
