<%= turbo_stream_from dom_id(@topic, 'urls') %>
<div class="md:flex md:items-center md:justify-between">
  <div class="flex-1 min-w-0">
    <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate"><%= @topic.name %></h2>
  </div>
</div>
<%= render partial: 'topics/tab_nav', locals: {topic: @topic, active: :urls } %>
<%= render partial: 'topics/filters', locals: {topic: @topic, existing_params: params.permit(:page, :sort, :time_filter, :visbility_filter, :topic_id), params: params.permit(:page, :sort, :time_filter, :topic_id), list_path: 'topic_urls_url'} %>
<%= turbo_frame_tag dom_id(@topic, 'urls') do %>
  <div class="grid grid-cols-1 space-y-4">
    <% @urls.each do |url| %>
      <%= render partial: 'unedited_url', locals: { topic: @topic, url: url, first_influencer: url.influencers.first } %>
    <% end %>
  </div>
  <div class="flex flex-col items-center justify-between py-8 space-y-4 sm:flex-row sm:space-y-0">
    <div>
      <%== pagy_nav(@pagy) %>
    </div>
    <div>
      <%= form_tag topic_archived_urls_path(@topic), method: :post do %>
        <%= hidden_field_tag :sort, @sort %>
        <%= hidden_field_tag :time_filter, @time_filter %>
        <button type="submit" class="inline-flex items-center px-4 py-2 text-sm font-medium text-purple-700 bg-purple-100 border border-transparent rounded-md shadow-sm hover:bg-purple-200 focus:outline-none focus:ring-2 focus:ring-purple-500 focus:ring-offset-2">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 mr-2">
            <path fill-rule="evenodd" d="M2 3a1 1 0 00-1 1v1a1 1 0 001 1h16a1 1 0 001-1V4a1 1 0 00-1-1H2zm0 4.5h16l-.811 7.71a2 2 0 01-1.99 1.79H4.802a2 2 0 01-1.99-1.79L2 7.5zM10 9a.75.75 0 01.75.75v2.546l.943-1.048a.75.75 0 111.114 1.004l-2.25 2.5a.75.75 0 01-1.114 0l-2.25-2.5a.75.75 0 111.114-1.004l.943 1.048V9.75A.75.75 0 0110 9z" clip-rule="evenodd" />
          </svg>
          Archive <%= @pagy.count %> Links
        </button>
      <% end %>
    </div>
  </div>
<% end %>
