<%= turbo_stream_from dom_id(@topic, 'urls') %>
<div class="md:flex md:items-center md:justify-between">
  <div class="flex-1 min-w-0">
    <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate"><%= @topic.name %></h2>
  </div>
</div>
<%= render partial: 'topics/tab_nav', locals: {topic: @topic, active: :urls } %>
<%= render partial: 'topics/filters', locals: {topic: @topic, params: params, list_path: 'topic_urls_url'} %>
<%= turbo_frame_tag dom_id(@topic, 'urls') do %>
  <div class="grid grid-cols-1 space-y-4">
    <% @urls.each do |url| %>
      <%= render partial: 'row', locals: { topic: @topic, url: url } %>
    <% end %>
  </div>
  <div class="flex items-center justify-between py-8">
    <div>
      <%== pagy_nav(@pagy) %>
    </div>
  </div>
<% end %>
