<div class="md:flex md:items-center md:justify-between">
  <div class="flex-1 min-w-0">
    <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate">Topics</h2>
  </div>
  <div class="mt-4 flex md:mt-0 md:ml-4">
    <%= link_to 'New topic', new_topic_path, class: 'inline-flex items-center px-4 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-violet-500' %>
  </div>
</div>
<div class="py-16 divide-y-8">
  <% @topics.each do |topic| %>
    <%= link_to topic_tweets_path(topic), class: 'block bg-gray-50 p-8 rounded-md shadow-md' do %>
      <div>
        <h2 class="font-semibold text-emerald-500 hover:text-emerald-700 text-xl"><%= topic.name %></h2>
        <p class="text-sm font-mono mt-2"><%= topic.search_phrase %></p>
      </div>
      <div>
        <dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-3">
          <div class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6">
            <dt class="text-sm font-medium text-gray-500 truncate">Total Tweets</dt>
            <dd class="mt-1 text-3xl font-semibold text-gray-900"><%= topic.tweets.count %></dd>
          </div>
          <div class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6">
            <dt class="text-sm font-medium text-gray-500 truncate">Unique Authors</dt>
            <dd class="mt-1 text-3xl font-semibold text-gray-900"><%= topic.tweets.map(&:author_id).uniq.compact.size %></dd>
          </div>
          <div class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6">
            <dt class="text-sm font-medium text-gray-500 truncate">Last Search</dt>
            <dd class="mt-1 text-3xl font-semibold text-gray-900"><%= distance_of_time_in_words_to_now(topic.twitter_search_results.completed.last.created_at) %> ago</dd>
          </div>
        </dl>
      </div>
    <% end %>
  <% end %>
</div>
