<%= turbo_stream_from dom_id(@topic, 'tweets') %>
<div class="md:flex md:items-center md:justify-between">
  <div class="flex-1 min-w-0">
    <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate"><%= @topic.name %></h2>
    <% if @topic.twitter_search_results.newest&.first&.incomplete? %>
      <span class="mt-2 inline-flex items-center rounded-md bg-yellow-100 px-2.5 py-0.5 text-sm font-medium text-yellow-800">
        <svg class="animate-pulse -ml-0.5 mr-1.5 h-2 w-2 text-yellow-400" fill="currentColor" viewBox="0 0 8 8">
          <circle cx="4" cy="4" r="3" />
        </svg>
        Search in progress
      </span>
    <% end %>
  </div>
  <div class="flex mt-4 md:mt-0 md:ml-4">
    <%= link_to 'Edit', edit_topic_path(@topic), class: 'ml-3 inline-flex items-center px-4 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-violet-500' %>
  </div>
</div>
<%= render partial: 'topics/tab_nav', locals: {topic: @topic, active: :tweets } %>
<div data-controller="tweet-filters">
  <div data-tweet-filters-target="mobileDialog" class="relative z-40 hidden sm:hidden" role="dialog" aria-modal="true">
    <div 
    data-tweet-filters-target="offCanvasMenuBackdrop"
    data-transition-enter="transition-opacity ease-linear duration-300"
    data-transition-enter-start="opacity-0"
    data-transition-enter-end="opacity-100"
    data-transition-leave="transition-opacity ease-linear duration-300"
    data-transition-leave-start="opacity-100"
    data-transition-leave-end="opacity-0"
    class="fixed inset-0 bg-black bg-opacity-25"></div>
    <div class="fixed inset-0 z-40 flex">
      <div 
        data-tweet-filters-target="offCanvasMenu"
        data-transition-enter="transition ease-in-out duration-300 transform"
        data-transition-enter-start="translate-x-full"
        data-transition-enter-end="translate-x-0"
        data-transition-leave="transition ease-in-out duration-300 transform"
        data-transition-leave-start="translate-x-0"
        data-transition-leave-end="translate-x-full"

      class="relative flex flex-col w-full h-full max-w-xs py-4 pb-6 ml-auto overflow-y-auto bg-white shadow-xl">
        <div class="flex items-center justify-between px-4">
          <h2 class="text-lg font-medium text-gray-900">Filters</h2>
          <button type="button" data-action="click->tweet-filters#toggleMobileDialog" class="flex items-center justify-center w-10 h-10 p-2 -mr-2 text-gray-400 bg-white rounded-md hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-purple-500">
            <span class="sr-only">Close menu</span>
            <svg class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <!-- Filters -->
        <form class="mt-4">
          <div class="px-4 py-6 border-t border-gray-200">
            <h3 class="flow-root -mx-2 -my-3">
              <!-- Expand/collapse question button -->
              <button data-action="click->tweets-filter->toggleTimingFilter" type="button" class="flex items-center justify-between w-full px-2 py-3 text-sm text-gray-400 bg-white" aria-controls="filter-section-0" aria-expanded="false">
                <span class="font-medium text-gray-900">Timing</span>
                <span class="flex items-center ml-6">
                  <svg data-tweet-filters-target="timingExpander" class="w-5 h-5 transform rotate-0" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                  </svg>
                </span>
              </button>
            </h3>
            <div class="pt-6" id="filter-section-0">
              <div class="space-y-6">
                <div class="flex items-center">
                  <input id="filter-mobile-category-0" name="category[]" value="tees" type="checkbox" class="w-4 h-4 text-purple-600 border-gray-300 rounded focus:ring-purple-500">
                  <label for="filter-mobile-category-0" class="ml-3 text-sm text-gray-500">Last hour</label>
                </div>
                <div class="flex items-center">
                  <input id="filter-mobile-category-1" name="category[]" value="crewnecks" type="checkbox" class="w-4 h-4 text-purple-600 border-gray-300 rounded focus:ring-purple-500">
                  <label for="filter-mobile-category-1" class="ml-3 text-sm text-gray-500">Today</label>
                </div>
                <div class="flex items-center">
                  <input id="filter-mobile-category-2" name="category[]" value="hats" type="checkbox" class="w-4 h-4 text-purple-600 border-gray-300 rounded focus:ring-purple-500">
                  <label for="filter-mobile-category-2" class="ml-3 text-sm text-gray-500">This week</label>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="max-w-3xl mx-auto text-center lg:max-w-7xl ">
    <section aria-labelledby="filter-heading" class="py-6 border-t border-gray-200">
      <h2 id="filter-heading" class="sr-only">Tweet filters</h2>
      <div class="flex items-center justify-between">
        <div class="relative inline-block text-left">
          <div>
            <button data-action="click->tweet-filters#toggleSort" type="button" class="inline-flex justify-center text-sm font-medium text-gray-700 group hover:text-gray-900" id="mobile-menu-button" aria-expanded="false" aria-haspopup="true">
              Sort
              <svg class="flex-shrink-0 w-5 h-5 ml-1 -mr-1 text-gray-400 group-hover:text-gray-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
              </svg>
            </button>
          </div>
          <div 
            data-tweet-filters-target="sort"
            data-transition-enter="transition ease-out duration-100"
            data-transition-enter-start="transform opacity-0 scale-95"
            data-transition-enter-end="transform opacity-100 scale-100"
            data-transition-leave="transition ease-out duration-100"
            data-transition-leave-start="transform opacity-100 scale-100"
            data-transition-leave-end="transform opacity-0 scale-95"

          class="absolute left-0 z-10 hidden w-40 mt-2 origin-top-left bg-white rounded-md shadow-2xl ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="mobile-menu-button" tabindex="-1">
            <div class="py-1" role="none">
              <%= link_to "Highest scoring", topic_tweets_url(@topic, params.permit(:page, :sort, :time_filter).merge!(sort: 'score')), class: "block px-4 py-2 text-sm font-medium text-gray-900 #{params[:sort] == 'score' ? 'bg-gray-100' : ''}", role: 'menuitem', tabindex: '-1' %>
              <%= link_to "Newest", topic_tweets_url(@topic, params.permit(:page, :sort, :time_filter).merge!(sort: 'newest')), class: "block px-4 py-2 text-sm font-medium text-gray-900 #{params[:sort] == 'newest' ? 'bg-gray-100' : ''}", role: 'menuitem', tabindex: '-1' %>
            </div>
          </div>
        </div>
        <!-- Mobile filter dialog toggle, controls the 'mobileFilterDialogOpen' state. -->
        <button data-action="click->tweet-filters#toggleMobileDialog" type="button" class="inline-block text-sm font-medium text-gray-700 hover:text-gray-900 sm:hidden">Filters</button>
        <div class="hidden sm:flex sm:items-baseline sm:space-x-8">
          <div id="desktop-menu-0" class="relative inline-block text-left">
            <div>
              <button type="button" data-action="click->tweet-filters#toggleDesktopTimingFilter" class="inline-flex items-center justify-center text-sm font-medium text-gray-700 group hover:text-gray-900" aria-expanded="false">
                <span>Timing filter</span>

                <% if params[:time_filter].present? && params[:time_filter].in?(%w[hour day week]) %>
                  <span class="ml-1.5 rounded bg-gray-200 py-0.5 px-1.5 text-xs font-semibold tabular-nums text-gray-700">1</span>    
                <% end %>
                <svg class="flex-shrink-0 w-5 h-5 ml-1 -mr-1 text-gray-400 group-hover:text-gray-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                </svg>
              </button>
            </div>
            <div 
              data-tweet-filters-target="desktopTimingFilter"
              data-transition-enter="transition ease-out duration-100"
              data-transition-enter-start="transform opacity-0 scale-95"
              data-transition-enter-end="transform opacity-100 scale-100"
              data-transition-leave="transition ease-in duration-75"
              data-transition-leave-start="transform opacity-100 scale-100"
              data-transition-leave-end="transform opacity-0 scale-95"
              class="absolute right-0 z-10 hidden p-4 mt-2 origin-top-right bg-white rounded-md shadow-2xl ring-1 ring-black ring-opacity-5 focus:outline-none">
              <%= form_tag topic_tweets_path(@topic), method: :get, class: 'space-y-4', data: {'tweet-filters-target' => 'timingForm'} do %>
                <%= hidden_field_tag 'sort', params[:sort] || 'score' %>
                <%= hidden_field_tag 'page', params[:page] || 1 %>
                <div class="flex items-center">
                  <%= radio_button_tag 'time_filter', 'hour', (params[:time_filter].present? && params[:time_filter] == 'hour'), class: 'h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-500', data: { action: 'change->tweet-filters#changeTimingFilter' } %>
                  <%= label_tag "time_filter_hour", "Last hour", class: 'pr-6 ml-3 text-sm font-medium text-gray-900 whitespace-nowrap' %>
                </div>
                <div class="flex items-center">
                  <%= radio_button_tag 'time_filter', 'day', (params[:time_filter].present? && params[:time_filter] == 'day'), class: 'h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-500', data: { action: 'change->tweet-filters#changeTimingFilter' } %>
                  <%= label_tag "time_filter_day", "Today", class: 'pr-6 ml-3 text-sm font-medium text-gray-900 whitespace-nowrap' %>
                </div>
                <div class="flex items-center">
                  <%= radio_button_tag 'time_filter', 'week', (params[:time_filter].present? && params[:time_filter] == 'week'), class: 'h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-500', data: { action: 'change->tweet-filters#changeTimingFilter' } %>
                  <%= label_tag "time_filter_week", "This week", class: 'pr-6 ml-3 text-sm font-medium text-gray-900 whitespace-nowrap' %>
                </div>
                <div class="flex items-center">
                  <%= radio_button_tag 'time_filter', 'all', (params[:time_filter].present? && params[:time_filter] == 'all'), class: 'h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-500', data: { action: 'change->tweet-filters#changeTimingFilter' } %>
                  <%= label_tag "time_filter_all", "All", class: 'pr-6 ml-3 text-sm font-medium text-gray-900 whitespace-nowrap' %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<%= turbo_frame_tag dom_id(@topic, 'list') do %>
  <div class="grid grid-cols-1 mt-8 space-y-4">
    <% @tweets.each do |tweet| %>
      <%= render partial: 'listed_tweet', locals: {tweet: tweet, topic: @topic} %>
    <% end %>
  </div>
  <div class="flex items-center justify-between py-8">
    <div>
      <%== pagy_nav(@pagy) %>
    </div>
    <div>
      <%= form_tag topic_archived_tweets_path(@topic), method: :post do %>
        <button type="submit" class="inline-flex items-center px-4 py-2 text-sm font-medium text-purple-700 bg-purple-100 border border-transparent rounded-md shadow-sm hover:bg-purple-200 focus:outline-none focus:ring-2 focus:ring-purple-500 focus:ring-offset-2">
          <!-- Heroicon name: mini/envelope -->
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 mr-2">
            <path fill-rule="evenodd" d="M2 3a1 1 0 00-1 1v1a1 1 0 001 1h16a1 1 0 001-1V4a1 1 0 00-1-1H2zm0 4.5h16l-.811 7.71a2 2 0 01-1.99 1.79H4.802a2 2 0 01-1.99-1.79L2 7.5zM10 9a.75.75 0 01.75.75v2.546l.943-1.048a.75.75 0 111.114 1.004l-2.25 2.5a.75.75 0 01-1.114 0l-2.25-2.5a.75.75 0 111.114-1.004l.943 1.048V9.75A.75.75 0 0110 9z" clip-rule="evenodd" />
          </svg>
          Archive all
        </button>
      <% end %>
    </div>
  </div>
<% end %>
