<%= turbo_frame_tag dom_id(@topic, :tweets) do %>
  <div class="md:flex md:items-center md:justify-between">
    <div class="flex-1 min-w-0">
      <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate"><%= @topic.name %></h2>
    </div>
    <div class="mt-4 flex md:mt-0 md:ml-4">
      <%= link_to 'Edit', edit_topic_path(@topic), class: 'inline-flex items-center px-4 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-violet-500' %>
    </div>
  </div>
  <%= turbo_stream_from @topic %>
  <div class="py-8 px-8 mt-8 bg-white rounded-md shadow-md">
    <h2 class="text-xl font-semibold text-gray-900">Recent tweets</h2>
    <div class="mt-8">
      <div id="tweets" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
        <% @tweets.each do |tweet| %>
          <%= render partial: 'tweets/managed_tweet', locals: {tweet: tweet} %>
        <% end %>
      </div>
    </div>
    <div class="py-8">
      <%== pagy_nav(@pagy) %>
    </div>
  </div>
<% end %>
