<%= turbo_stream_from dom_id(@topic, 'managed') %>
<div class="md:flex md:items-center md:justify-between">
  <div class="flex-1 min-w-0">
    <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate"><%= @topic.name %></h2>
    <% if @topic.twitter_search_results.newest&.first&.incomplete? %>
      <span class="mt-2 inline-flex items-center rounded-md bg-yellow-100 px-2.5 py-0.5 text-sm font-medium text-yellow-800">
        <svg class="animate-pulse -ml-0.5 mr-1.5 h-2 w-2 text-yellow-400" fill="currentColor" viewBox="0 0 8 8">
          <circle cx="4" cy="4" r="3" />
        </svg>
        Search in progress
      </span>
    <% end %>
  </div>
  <div class="flex mt-4 md:mt-0 md:ml-4">
    <%= link_to 'Edit', edit_topic_path(@topic), class: 'ml-3 inline-flex items-center px-4 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-violet-500' %>
  </div>
</div>
<%= render partial: 'topics/tab_nav', locals: {topic: @topic, active: :tweets } %>
<%= turbo_frame_tag dom_id(@topic, 'list') do %>
  <div class="grid grid-cols-1 mt-8 space-y-4">
    <% @tweets.each do |tweet| %>
      <%= render partial: 'listed_tweet', locals: {tweet: tweet, topic: @topic} %>
    <% end %>
  </div>
  <div class="flex items-center justify-between py-8">
    <div>
      <%== pagy_nav(@pagy) %>
    </div>
    <div>
      <%= form_tag topic_archived_tweets_path(@topic), method: :post do %>
        <button type="submit" class="inline-flex items-center px-4 py-2 text-sm font-medium text-purple-700 bg-purple-100 border border-transparent rounded-md shadow-sm hover:bg-purple-200 focus:outline-none focus:ring-2 focus:ring-purple-500 focus:ring-offset-2">
          <!-- Heroicon name: mini/envelope -->
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 mr-2">
            <path fill-rule="evenodd" d="M2 3a1 1 0 00-1 1v1a1 1 0 001 1h16a1 1 0 001-1V4a1 1 0 00-1-1H2zm0 4.5h16l-.811 7.71a2 2 0 01-1.99 1.79H4.802a2 2 0 01-1.99-1.79L2 7.5zM10 9a.75.75 0 01.75.75v2.546l.943-1.048a.75.75 0 111.114 1.004l-2.25 2.5a.75.75 0 01-1.114 0l-2.25-2.5a.75.75 0 111.114-1.004l.943 1.048V9.75A.75.75 0 0110 9z" clip-rule="evenodd" />
          </svg>
          Archive all
        </button>
      <% end %>
    </div>
  </div>
<% end %>
