<%= turbo_frame_tag 'profile', target: '_top' do %>
  <div class="md:flex md:items-center md:justify-between">
    <div class="flex-1 min-w-0">
      <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate">Profile</h2>
    </div>
    <div class="flex mt-4 md:mt-0 md:ml-4">
      <%= link_to 'Logout', logout_path, class: 'inline-flex items-center px-4 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-violet-500' %>
    </div>
  </div>
  <% if @twitter_account.nil? %>
    <div class="px-8 py-8 mt-8 bg-white shadow-md">
      <div class="space-y-8 divide-y divide-gray-200">
        <div>
          <div>
            <h3 class="text-lg font-medium leading-6 text-gray-900">Missing Twitter Account</h3>
            <p class="mt-1 text-sm text-gray-500">You are not currently connected to Twitter.</p>
          </div>
          <div class="grid grid-cols-1 mt-6 gap-y-6 gap-x-4 sm:grid-cols-6">
            <div class="sm:col-span-4">
              <%= form_tag "/auth/twitter2/", method: 'POST', data: { turbo: false } do %>
                <button type="submit" class='inline-flex justify-center w-full px-4 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-md shadow-sm hover:bg-gray-50'>
                  <span class="inline-block mr-5">
                    <svg class="w-5 h-5 text-blue-400" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
                      <path d="M6.29 18.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0020 3.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.073 4.073 0 01.8 7.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 010 16.407a11.616 11.616 0 006.29 1.84" />
                    </svg>
                  </span>
                  <span class="inline-block">Connect Twitter</span>
                </button>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <% if !current_user.email_verified? && current_user.email_verifications.pending.any? %>
    <div class="px-8 py-8 mt-8 rounded-md shadow-md bg-yellow-50">
      <%= form_with model: [current_user, current_user.email_verifications.pending.first]  do |form| %>
        <div class="space-y-8 divide-y divide-gray-200">
          <div>
            <div>
              <h3 class="text-lg font-medium leading-6 text-gray-900">Verify your email</h3>
              <p class="mt-1 text-sm text-gray-500">You need to verify your email to receive daily digests.</p>
            </div>
            <div class="grid grid-cols-1 mt-6 gap-y-6 gap-x-4 sm:grid-cols-6">
              <div class="sm:col-span-4">
                <%= form.label :code, "Code", class: "block text-sm font-medium text-gray-700"%>
                <div class="flex mt-1">
                  <div>
                    <%= text_field_tag :entered_code, '', class: 'flex-1 focus:ring-violet-500 focus:border-violet-500 block w-full min-w-0 rounded-md shadow-sm sm:text-sm border-gray-300' %>
                  </div>
                  <div>
                    <button type="submit" class="inline-flex justify-center px-4 py-2 ml-3 text-sm font-medium text-white border border-transparent rounded-md shadow-sm bg-violet-600 hover:bg-violet-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-violet-500">Verify</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="px-8 py-8 mt-8 bg-white rounded-md shadow-md">
    <%= form_with model: current_user do |form| %>
      <div class="space-y-8 divide-y divide-gray-200">
        <div>
          <div>
            <h3 class="text-lg font-medium leading-6 text-gray-900">Details</h3>
            <p class="mt-1 text-sm text-gray-500">Your account details.</p>
          </div>
          <div class="grid grid-cols-1 mt-6 gap-y-6 gap-x-4 sm:grid-cols-6">
            <div class="sm:col-span-4">
              <%= form.label :name, "Name", class: "block text-sm font-medium text-gray-700"%>
              <div class="mt-1">
                <%= form.text_field :name, class: 'flex-1 focus:ring-violet-500 focus:border-violet-500 block w-full min-w-0 rounded-md shadow-sm sm:text-sm border-gray-300' %>
              </div>
            </div>
            <div class="sm:col-span-4">
              <%= form.label :email, "Email", class: "block text-sm font-medium text-gray-700"%>
              <div class="mt-1">
                <%= form.text_field :email, type: :email, class: 'flex-1 focus:ring-violet-500 focus:border-violet-500 block w-full min-w-0 rounded-md shadow-sm sm:text-sm border-gray-300' %>
                <% if current_user.email_verified? %>
                  <div class="flex items-center mt-1 space-x-2 justify-begin">
                    <div class="text-green-500">
                      <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-green-500" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                      </svg>
                    </div>
                    <div>
                      <span class="text-sm text-gray-500">Email verified</span>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="sm:col-span-4">
              <%= form.label :timezone, "Preferred time zone", class: "block text-sm font-medium text-gray-700"%>
              <div class="mt-1">
                <%= form.select :timezone, time_zone_options_for_select(current_user.timezone, ActiveSupport::TimeZone.us_zones), {}, class: 'mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm rounded-md' %>
              </div>
            </div>
            <div class="sm:col-span-4">
              <div class="relative flex items-start">
                <div class="flex items-center h-6">
                  <%= form.check_box :beta, class: 'w-4 h-4 text-purple-600 border-gray-300 rounded focus:ring-purple-600'%>
                </div>
                <div class="ml-3">
                  <%= form.label 'beta', 'Enable beta features' %>
                  <p id="beta-description" class="text-sm text-gray-500">Enable experimental beta features.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pt-5">
        <div class="flex justify-end">
          <%= link_to "Cancel", root_path, class: 'bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-violet-500' %>
          <button type="submit" class="inline-flex justify-center px-4 py-2 ml-3 text-sm font-medium text-white border border-transparent rounded-md shadow-sm bg-violet-600 hover:bg-violet-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-violet-500">Save</button>
        </div>
      </div>
    <% end %>
  </div>
  <% if @twitter_account %>
    <div class="p-8 mt-8 bg-white rounded-md shadow-md">
      <div class="space-y-8 divide-y divide-gray-200">
        <div>
          <div>
            <h3 class="text-lg font-medium leading-6 text-gray-900">Twitter account</h3>
            <p class="mt-1 text-sm text-gray-500">This is your connected twitter account.</p>
          </div>
          <div class="grid grid-cols-1 mt-6 gap-y-6 gap-x-4 sm:grid-cols-6">
            <div class="sm:col-span-4">
              <div class="flex items-center space-x-4">
                <div>
                  <img src="<%= @twitter_account.image %>" alt="<%= @twitter_account.username %>" class="w-12 h-12 rounded-full">
                </div>
                <div>
                  <span class="font-semibold">@<%= @twitter_account.username %></span>
                </div>
              </div>
            </div>
          </div>
          <%= form_with model: @twitter_account, method: :delete do |f| %>
            <div class="pt-5">
              <div class="flex justify-end">
                <button type="submit" class="inline-flex justify-center px-4 py-2 ml-3 text-sm font-medium text-white bg-gray-600 border border-transparent rounded-md shadow-sm hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">Disconnect account</button>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <% if @subscription %>
    <%= link_to "manage subscription", Rails.application.credentials.stripe_portal_link %>
  <% end %>
<% end %>
