<%= turbo_stream_from dom_id(@topic, 'saves') %>
<div class="md:flex md:items-center md:justify-between">
  <div class="flex-1 min-w-0">
    <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate">Reviewing: <%= @topic.name %></h2>
  </div>
</div>
<%= render partial: 'topics/tab_nav', locals: {topic: @topic, active: :saves } %>
<%= render partial: 'topics/filters', locals: {topic: @topic, params: params.permit(:page, :sort, :time_filter, :visbility_filter, :topic_id, :influencers_filter), list_path: 'topic_saves_url',} %>

<%= turbo_frame_tag dom_id(@topic, 'saves') do %>
  <div class="grid grid-cols-1 space-y-4">
    <h2 class="mt-6 text-lg font-semibold text-gray-900">Links</h2>
    <% @urls.each do |url| %>
      <%= render partial: 'saved_url', locals: {url: url, collection: @collection, topic: @topic, first_influencer: url.influencers&.first } %>
    <% end %>
    <h2 class="mt-6 text-lg font-semibold text-gray-900">Tweets</h2>
    <% @tweets.each do |tweet| %>
      <%= render partial: 'saved_tweet', locals: {tweet: tweet, collection: @collection, topic: @topic } %>
    <% end %>
  <% end %>
