<%= turbo_frame_tag 'onboarding' do %>
  <div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
    <div class="text-center">
      <h2 class="text-base font-semibold text-violet-600 tracking-wide uppercase">Get started</h2>
      <p class="mt-1 text-4xl font-extrabold text-gray-900 sm:text-5xl sm:tracking-tight lg:text-6xl">"<%= @topic.topic %>"</p>
      <p class="max-w-xl mt-5 mx-auto text-xl text-gray-500">Here's what we found.</p>
    </div>
    <div class="py-16">
      <%= turbo_stream_from @topic %>
      <div class="grid grid-cols-3 gap-4 py-8">
        <div class="col-span-1 space-y-4">
          <h2 class="font-semibold text-gray-800 text-2xl">Buying intent</h2>
          <div id="buying_tweets" class="space-y-4">
            <% @buying_tweets.each do |tweet| %>
              <%= render partial: 'tweets/tweet', locals: {tweet: tweet} %>
            <% end %>          
          </div>
        </div>
        <div class="col-span-1 space-y-4">
          <h2 class="font-semibold text-gray-800 text-2xl">Researching intent</h2>
          <div id="researching_tweets" class="space-y-4">
            <% @researching_tweets.each do |tweet| %>
              <%= render partial: 'tweets/tweet', locals: {tweet: tweet}%>
            <% end %>
          </div>
        </div>
        <div class="col-span-1 space-y-4">
          <h2 class="font-semibold text-gray-800 text-2xl">Mentioned</h2>
          <div id="general_tweets" class="space-y-4">
            <% @general_tweets.each do |tweet| %>
              <%= render partial: 'tweets/tweet', locals: {tweet: tweet}%>
            <% end %>
          </div>
        </div>
      </div>
      <div class="flex justify-between">
        <%= link_to "Try another keyword", onboarding_start_path %>
        <%= link_to "Setup my account", onboarding_finish_path %>
      </div>
    </div>
  </div>
<% end %>
