<div class="px-6 lg:px-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-xl font-semibold text-gray-900"><%= @collection.name %></h1>
      <p class="mt-2 text-sm text-gray-700">A list of tweets from this collection.</p>
    </div>
  </div>
  <%= render partial: 'collections/tab_nav', locals: {collection: @collection, active: :markdown } %>  
  <div class="mt-8 flow-root">
    <div class="-my-2 -mx-6 overflow-x-auto lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <h2 class="font-semibold text-lg text-gray-800 mt-4 mb-2">Tweets</h2>
          <div>
            <div class="mt-1">
              <textarea rows="<%= @tweets.size * 5 %>" name="comment" id="comment" class="block w-full rounded-md border-gray-300 shadow-sm focus:border-violet-500 focus:ring-violet-500 sm:text-sm">
                <% @tweets.each do |tweet| -%>
<%= render partial: 'markdown_tweet', locals: {tweet: tweet}%>
                <% end %>
              </textarea>
            </div>
          </div>

        <h2 class="font-semibold text-lg text-gray-800 mt-8 mb-2">Links</h2>
        <div>
            <div class="mt-1">
              <textarea rows="<%= @urls.size * 2 %>" name="comment" id="comment" class="block w-full rounded-md border-gray-300 shadow-sm focus:border-violet-500 focus:ring-violet-500 sm:text-sm">
                <% @urls.each do |url| -%>
<%= render partial: 'markdown_url', locals: {url: url} %>

                <% end %>
              </textarea>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
