<div class="px-6 lg:px-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-xl font-semibold text-gray-900"><%= @collection.name %></h1>
      <p class="mt-2 text-sm text-gray-700">A list of tweets from this collection.</p>
    </div>
  </div>
  <%= render partial: 'collections/tab_nav', locals: {collection: @collection, active: :plain_text } %>
  <div class="flow-root mt-8">
    <div class="-mx-6 -my-2 overflow-x-auto lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <h2 class="mt-8 mb-2 text-lg font-semibold text-gray-800">Links</h2>
        <div>
          <div class="mt-1">
            <textarea rows="<%= @urls.size * 5 %>" name="comment" id="comment" class="block w-full border-gray-300 rounded-md shadow-sm focus:border-purple-500 focus:ring-purple-500 sm:text-sm">
                <% @urls.each do |url| -%>
<%= url.editorial_title || url.title %>
<%= url.editorial_url || url.unwound_url %>
<%= url.editorial_description || '' %>

                <% end %>
              </textarea>
          </div>
        </div>
        <h2 class="mt-4 mb-2 text-lg font-semibold text-gray-800">Tweets</h2>
        <div>
          <div class="mt-1">
            <textarea rows="<%= @tweets.size * 5 %>" name="comment" id="comment" class="block w-full border-gray-300 rounded-md shadow-sm focus:border-purple-500 focus:ring-purple-500 sm:text-sm">
                <% @tweets.each do |tweet| -%>
<%= tweet.text %>

@<%= tweet.username %>


                <% end %>
              </textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
